/*Chad Woitas original*/
.banner {
	background-image: url("../images/Banners/header_banner_store.jpg"); 
}

.banner h1{
	position: relative;
	width: 100%;
	left: 0;
	top: 20%;
	text-align: center;
	color: white;
}

.gallery h1{
	text-align: center;
}

.featureBox{
	display: inline-block;
	width: 22.5%;
	padding: 5%;
	text-align: center;
	border-style: solid;

}
.featureBox img{
	width:80%
}