/*Chad Woitas original*/
/* Style Sheet for about.html*/

.banner{
	background-image: url("../images/Banners/header-banner-about.jpg");
}

.banner h1{
	position: relative;
	top: 10%;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
}


.gallery{
	height: 400px;
	width: 100%;
	text-align: center;
}

.gallery #teachlearncreate{
	height: 300px;
}
.gallery .infobox{
	display: inline-table;
	height: 300px;
	width: 25%;
	padding: 2.5%;

}

.gallery .infobox img{
	position: relative;
}
.gallery #tlc{
	border-top: solid;
	border-bottom: solid;
	border-color: #00C7AB;
}

.bottombanner{
	background-image: url("../images/Banners/footer-banner-about.jpg");
}

